@media (max-width: 500px) {
  .header {
    &__logo {
      height: 2.5rem;
    }
  }

  .heading-primary {
    &--main {
      @include media-heading--main;
    }

    &--sub {
      @include media-heading--sub;
    }
  }

  .btn {
    &,
    &:link,
    &:visited {
      @include media-button;
    }
  }

  .row {
    flex-direction: column;
    align-items: center;

    &--left {
      width: 100%;
    }

    &--right {
      width: 100%;
    }
  }
  .heading-secondary {
    @include media-2ndHeading;
  }

  .row--left {
    margin-bottom: 7rem;
  }

  .section-about {
    padding-bottom: 40rem;
  }

  .feature-box {
    width: 60%;
  }

  .section-features {
    flex-direction: column;
    align-items: center;
  }
  .col-1-of-3 {
    width: 80%;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  // card start

  .section-tours {
    padding: 15rem 0 8rem 0;
    .col-1-of-3 {
      height: 52rem;
      margin-bottom: 7rem;
    }
  }
  .card {
    &__side {
      &--front {
        height: 50rem;
      }
      &--back {
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
        transform: rotateY(0);
        height: 20rem;
        top: 35rem;
      }
    }

    &:hover &__side--front {
      transform: rotateY(0);
    }
    &:hover &__side--back {
      transform: rotateY(0);
    }

    &__picture {
      height: 20rem;
    }

    &__heading {
      font-size: 1.8rem;
      font-weight: 200;

      &-span {
        padding: 0.2rem 1.2rem;
      }
    }

    &__details {
      padding: 2rem;

      ul {
        li {
          font-size: 1.2rem;
          padding: 0.5rem;
        }
      }
    }

    // Back Side Styling

    &__price-box {
      margin-bottom: 4rem;
    }
    &__price-only {
      font-size: 1.2rem;
    }
    &__price-value {
      font-size: 3rem;
    }
  }
  .u-margin-bottom-big {
    margin-bottom: 4rem;
  }

  .u-margin-top-huge {
    margin-top: 5rem;
  }
  //card ending
  .story {
    transform: skewX(0);
    width: 60%;

    &__shape {
      width: 12rem;
      height: 12rem;
      transform: translate(-1rem, 0) skewX(0);
    }
    &__text {
      transform: skewX(0);
      h3 {
        font-size: 1.3rem;
      }
      p {
        font-size: 1.1rem;
      }
    }
  }

  .book {
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.9),
        rgba($color-white, 0.9)
      ),
      url(../img/nat-10.jpg);

    &__form {
      width: 70%;
    }
  }
  .form__radio-group:not(:last-child) {
    margin-bottom: 2rem;
  }

  .footer {
    font-size: 1rem;
    padding: 5rem 0;

    &__logo-box {
      margin-bottom: 4rem;
    }
    &__logo {
      display: none;
      &--small {
        display: inline-block;
        width: 15rem;
      }
    }
    .row {
      flex-direction: column;
    }

    .col-1-of-2 {
      width: 80%;

      &:not(:last-child) {
        margin-bottom: 3rem;
      }
    }
  }
}
