.story {
  width: 75%;
  background-color: rgba($color-white, 0.6);
  margin: auto;
  padding: 6rem;
  padding-top: 5rem;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  border-radius: 3px;
  transform: skewX(-12deg);

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateY(1rem) skewX(12deg);
    position: relative;
    overflow: hidden;
  }

  &__caption {
    position: absolute;

    color: $color-white;
    @include make-it-center;
    text-transform: uppercase;
    font-size: 1.8rem;
    top: 80%;
    opacity: 0;
    transition: all 0.5s;
  }

  &:hover &__caption {
    opacity: 1;

    @include make-it-center;
  }

  &__img {
    height: 100%;
    width: 100%;
    transform: scale(1.4);
    transition: all 0.5s;
    backface-visibility: hidden;
  }

  &:hover &__img {
    transform: scale(1);
    filter: blur(3px) brightness(80%);
  }

  &__text {
    transform: translate(2rem, 1.75rem) skewX(12deg);
  }
}
